# Nomor WhatsApp Admin (format internasional tanpa "+"), contoh: 6289522907848
VITE_WHATSAPP_NUMBER=6289522907848

# (Opsional) Google Analytics / Meta Pixel ID jika ingin diintegrasikan
VITE_GA_ID=
VITE_META_PIXEL_ID=
