# Nomor WhatsApp Admin (format internasional tanpa "+"), contoh: 6281234567890
VITE_WHATSAPP_NUMBER=6281234567890

# (Opsional) Google Analytics / Meta Pixel ID jika ingin diintegrasikan
VITE_GA_ID=
VITE_META_PIXEL_ID=
